body{
  font-family:Helvetica;
  text-align:center;
}
.buildingbackground{
  background-image:url("/broadway_design/resources/images/flatironbuilding.png");
  color:white;
}
.buildingbackground a{
  font-size:18px;
  text-decoration: underline;
  color:white;
}
.buildingbackground h2{
  font-size:23px;
}
p{
  font-size:14px;
}
h1{
  font-size:70px;
  font-weight:bold;
}
h2{
  font-weight:bold;
  font-size:32px;
}
h3{
  font-weight:bold;
  font-size:23px;
}
#footer{
  background-color:dimgray;
  color:white;
}
#footer a, #footer p{
  color:white;
}
span.copyright{
  font-size:11px;
}
